* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@priamry-color: rgb(238 233 198);
@priamry-text-color: rgb(0, 0, 0);
@secendary-text-color: #00885f !important;
@secondary-color: #000000;
@secondary-color-deep: #00885f;


h2 {
    font-size: 2.6rem;
    line-height: 3rem;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: 200;
    text-transform: uppercase;

    @media only screen and (max-width:769px) {
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: bold;
    }
}

h3,
h4,
h5,
h6,
p {
    font-family: 'Playfair Display', serif !important;
}

a,
button {
    font-family: 'Playfair Display', serif;
}

.h2-top-txt {
    padding-bottom: 1.5rem;
    color: @secondary-color-deep  !important;
    font-size: 16px;
    font-weight: bold;
}

.section-gap {
    padding: 8% 0;
}

span {
    font-weight: bold;
    color: #45f5c0;
}

.m-3b {
    margin-bottom: -3px;
}

.m-3t {
    margin-top: -3px;
}

// ========button style==============
.btn-primary {
    font-size: 16px;
    padding: 8px 60px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;

    @media only screen and (max-width:769px) {
        padding: 8px 25px;
    }
}

.btn-secondary {
    background-color: @secondary-color-deep;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    font-size: 15px;
    display: inline-block;
}

.diagonal {
    position: relative;
    // line-height: 50px;
    background: #ffffff00;
    color: white;
    /* border: none; */
    font-weight: 500;
    /* font-family: "Open Sans", sans-serif; */
    overflow: hidden;
    z-index: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    // box-shadow: 0px 0px 11px -2px #000 !important;
    @media only screen and (max-width:769px) {
        white-space: nowrap;
    }

}

.diagonal:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 500%;
    height: 1000%;
    background: #ffffff;

    z-index: -1;
    transform-origin: 0% 0%;
    transform: translateX(calc(-25%)) translateY(10%) rotate(-15deg);
    transition: transform .7s;

}

.diagonal:hover::after {
    transform: translateY(10%) translateX(50px) rotate(-15deg);
}

.diagonal:hover {
    color: #000;
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
}

.diagonal:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-color: #fff;
}

.follow-container .more-circle,
.bann-btn .more-circle {
    height: auto !important;
    bottom: 37px !important;
}

// ==========================banner section start=================================
.banner {
    padding-top: 60px;
    height: 105vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.075);
    background: linear-gradient(180deg, rgba(90, 89, 89, 0.397) 74%, #2a2e2f27 100%), url(../img/banner.webp) center / cover;

    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.766) 0%, rgba(255,255,255,0) 17%, rgba(255, 255, 255, 0) 71%, rgba(5,87,130,1) 100%), url("../img/banner.jpeg") center/cover;
    @media only screen and (max-width:480px) {
        height: 100vh;

    }

    .nav-bar-custom {

        // background-color: rgba(255, 255, 255, 0.603);
        a {
            color: #fff;

            &:hover {
                color: @secondary-color  !important;
            }
        }
    }

    @media only screen and (max-width:480px) {
        .banner-text {
            padding: 3rem 0px;
        }
    }

    .big-heading {
        color: white;
        font-size: 5rem;
        font-family: 'Playfair Display', serif;
        font-weight: 400;

        line-height: 70px;

        @media only screen and (max-width:769px) {
            font-size: 3.5rem;
            line-height: 60PX;

        }

        @media only screen and (max-width:480px) {
            font-size: 2.5rem;
            line-height: 40PX;
        }
    }

    .cursive-text {
        padding-top: 10%;
        color: yellow;
        font-size: 6rem;
        font-weight: 100;
        font-family: 'Kristi', cursive !important;
        //    margin: -6%;
        display: inline-block;

        @media only screen and (max-width:769px) {
            font-size: 5rem;

        }

        @media only screen and (max-width:480px) {
            font-size: 3rem;

        }
    }

    .down-arrow {
        margin-top: 3rem;
        color: #fff;
        font-size: 2.5rem;

        @media only screen and (max-width:480px) {
            font-size: 1.5rem;
            margin-top: 4rem;

        }
    }
}





// ==========================banner section end===================================
// ==================fixed navbar start=================================
.la-bars {
    margin-top: 12px !important;
}

.fixed-nav {
    background-color: #fff;
    transition: all .5;

    .nav-link {
        color: #000 !important;

        &:hover {
            color: @secondary-color-deep  !important;
        }
    }

    // padding: 0 !important;

    .diagonal:after {
        background-color: #000;
    }

    .diagonal {
        color: #000;
        border-color: #000;
    }

    .diagonal:hover {
        color: #fff;
    }

    .me-2 {
        width: 150px;
    }
}

.navbar-toggler-icon {
    color: #fff;
    font-size: 30px;

}

.navbar-toggler:focus:not(:focus-visible) {
    box-shadow: none;
}

@media only screen and (max-width:768px) {


    .navbar-collapse {
        background-color: #fff;
        padding-bottom: 12PX;

        .nav-link {
            color: #000 !important;

            &:hover {
                color: @secondary-color-deep  !important;
            }
        }

        .diagonal:after {
            background-color: #000;
        }

        .diagonal {
            color: #000;
            border-color: #000;
            margin-right: 1REM;
        }

        .diagonal:hover {
            color: #fff;
        }
    }
}

// ===============================section about start==============================
.about {
    background-color: @priamry-color;

    .about-text {
        padding: 0 3rem;

        p {
            color: rgb(0, 0, 0);

            @media only screen and (max-width:480px) {
                text-align: justify;

            }

        }

        h2 {
            color: rgb(14, 1, 1);
        }

        .h2-top-txt {
            color: @secendary-text-color  !important;
        }

        @media only screen and (max-width:769px) {
            padding: 0;
        }


    }

    .about-img img {
        width: 380px;
        height: 500px;
        object-fit: cover;
        margin: 0 0 0 20%;
        display: block;
        transform: rotate(8deg);
        position: relative;
        transition: all .3s;
        z-index: 2;

        @media only screen and (max-width:769px) {
            width: 270px;
            height: 400px;
            transform: rotate(4deg);
            margin: 0 0 0 2%;
        }

        @media only screen and (max-width:390px) {
            width: 200px;
            height: 279px;
            margin-left: auto !important;
        }

        @media only screen and (max-width:480px) {
            transform: rotate(0deg);
        }

        &:hover {
            z-index: 9 !important;

        }


    }

    .about-img {
        position: relative;
    }

    .about-img2 {
        z-index: 1 !important;
        position: absolute !important;
        top: 0;
        left: 0;
        transform: rotate(355deg) !important;
        margin: 39px 0 0px 52px !important;
        transition: all .3s;

        @media only screen and (max-width:769px) {
            width: 270px;
            height: 400px;
            transform: rotate(357deg);
            margin: 0 0 0 2%;
        }

        @media only screen and (max-width:480px) {
            transform: rotate(0deg) !important;
            margin: 59px 0 0px calc(2vw + 105px) !important;
        }

        &:hover {
            z-index: 9 !important;

        }
    }

    .bar-line {
        width: 90%;

        height: 1px;
        background-color: rgba(218, 218, 218, 0.644);
        margin: 6rem 0 1rem 0;

    }


    .value-card {
        position: relative;
        text-align: center;

       



        i {
            font-size: 3rem;
        }

        span {
            font-size: 1.2rem;
            color: rgb(0, 0, 0);
        }

    }


}

// ===============================section about end================================
// ===============================section amenities start================================

.amenities {
    .h2-top-txt {
        padding-bottom: .5rem;
    }

    img {
        // height: 180px;
        height: 300px;
        object-fit: cover;
        width: 100%;
        margin-bottom: 2rem;
    }

    .amenitie-head {
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
    }

    .amenitie-card {
        padding: 0 2.5rem 0 1.5rem;
        border-left: 1px solid #c7c7c7a3;
    }

    .down-card {
        margin-top: 5rem;
    }
}





// ===============================section amenities end================================
// ===============================section floor plan start================================


.floor-plan {
    background-color: #fefbd6;
    padding-top: 4%;

    .tab-btn-list ul li {
        flex: 1;

    }

    h4 {
        font-weight: bold;
        font-family: arial !important;
    }

    .tab-img {
        padding: 2rem 5rem;

        @media only screen and (max-width:769px) {
            padding: 0;
        }

        img {
            max-width: 500px;
            max-height: 600px !important;
            margin: auto;
            display: block;

            @media only screen and (max-width:769px) {
                max-width: 100%;
            }
        }
    }





    .tab-btn {
        border: none;
        width: 100%;
        padding: 12px;
        font-weight: 500;
        background: transparent;
        border-bottom: 1px solid #b0b0b0;
        box-sizing: border-box;
        transition: all .3s;
        font-family: sans-serif !important;
    }

    .tab-btn.active {

        color: @secondary-color-deep;
        border-bottom: 2px solid @secondary-color-deep;
        transition: all .3s;

    }

    .big-flor-tab {
        margin-top: 3%;
    }

    .tab-table {
        td {
            text-align: right;
        }
    }

    tbody {
        tr {
            th {
                font-weight: 500;
            }
        }

        .price-tr {
            border-color: transparent;
            // th{
            //     font-weight: bold;
            //     font-size: 18px;
            //     color: #00885f;
            // }
            // td{
            //     font-weight: bold;
            //     font-size: 24px;
            //     color: #e20000;
            // }
        }
    }

    .tab-buttons {
        display: flex;
        justify-content: center;
        column-gap: 5px;

        .btn {
            flex: 1;
        }
    }


    @media only screen and (max-width:736px) {

        .nav-item {
            white-space: nowrap;
        }
    }
}

// ===============================section floor plan end==================================
// ===============================carrousel plan start==================================

.carrousel-img img {
    width: 100%;
    height: 85vh;
    object-fit: cover;

    @media only screen and (max-width:480px) {
        height: 40vh;
    }
}





// ===============================carrousel plan end==================================
// =================================price start=========================================
.price {
    .price-table {
        text-align: center;

        @media only screen and (max-width:480px) {
            overflow-x: scroll;
        }
    }

    .btn-secondary {
        background-color: #666666;

        &:hover {
            background-color: @secondary-color-deep  !important;
        }
    }

}

// =================================price start========================================
// =================================premium amenites start========================================

.premium-amenites {

    .amen-card {
        margin: 0 2rem;

        @media only screen and (max-width:769px) {
            margin: 0rem;
        }

        @media only screen and (max-width:480px) {
            .d-flex {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .txt {
                margin-top: 1rem;
            }
        }

    }

    .amen {
        background-color: #eee9c6;
        border: none;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 29px;
            color: black;
        }

    }

    .amen-card {
        border-top: 1px solid rgb(199, 199, 199);
        padding: 1rem 0 4rem 0;
    }


    .txt {
        h5 {
            font-weight: bold;
            font-size: 18px;
            margin: 0 !important;
        }

        p {
            margin: 0 !important;
        }
    }
}







// =================================premium amenites End========================================
// ======================================map start========================================



.map {
    background-color: @priamry-color;
    color: rgb(0, 0, 0);

    .main-text {
        text-align: center;
        line-height: 35px;
        width: 70%;
        margin: 25px auto;
    }

    .h2-top-txt {
        color: @secendary-text-color  !important;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        position: relative;
        padding-left: 1.3em;
        margin-bottom: 1rem;

    }

    li:before {
        content: "\f192";
        /* FontAwesome Unicode */
        font-family: 'Line Awesome Free';
        display: inline-block;
        margin-left: -1.3em;
        /* same as padding-left set on li */
        width: 1.3em;
        /* same as padding-left set on li */
        color: @secondary-color;
        margin-right: 1rem;
    }

    .map-li {

        h5 {
            font-size: 18px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
        }
    }
}
















// ========================================map end========================================
// ========================================section testimonials start========================================


.testimonial-card {
    margin: .7rem;
    background-color: #bcffeb49;
    padding: 1rem;
    border: 1px solid @secondary-color-deep;
    box-shadow: 0px 0px 8px -4px @secondary-color;

    img {
        width: 140px;
        height: 140px;
        object-fit: cover;

        @media only screen and (max-width:769px) {
            height: 80px;
        }
    }

    h3 {
        font-size: 20px;
        margin: 0;

    }

    .test-line {
        height: 140px;
        width: 1px;
        background: @secondary-color-deep;
        margin-left: 1rem;
        flex-shrink: 0;

    }

    p {
        /* margin: 0; */
        line-height: 1.3rem;
    }
}








// ========================================section testimonials end========================================
//   ===================================enquery modal start====================

.enquire-modal {

    //   position: relative;
    // top: 70px;
    .btn-close {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        border: none;
        margin: 5px;
        border-radius: 50%;

    }

    .modal-content {
        border: none !important;
        border-radius: 0 !important;
    }

    .modal-ban {
        height: 100%;
        object-fit: cover;
    }

    .form {
        padding: 12px;

        input,
        textarea,
        select {
            border: none;
            border-bottom: 2px solid @secondary-color-deep;
            border-radius: inherit;
        }

        input[type=checkbox] {
            border: none;
            border-bottom: 2px solid @secondary-color-deep;
            border-radius: 25px;
        }

        button {
            border: none;
            border-radius: 0;
        }

    }
}




//   ===================================enquery modal end======================



// ================================video ripple start============================
.contact {

    background-color: @priamry-color;

    /* ============ */
    .about-section .video-column {
        position: relative;
        margin-bottom: 40px;
    }

    .about-section .video-column .inner-column {
        position: relative;
    }

    .video-box {
        position: relative;
        z-index: 1;

        a {
            text-decoration: none;

        }
    }
.play{
    cursor: pointer;
}
    .video-box .image {
        position: relative;
        overflow: hidden;
        margin: 0px;
        text-align: center;
    }

    .video-box .image img {
        position: relative;
        width: 100%;
    }

    .video-box .overlay-box {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        overflow: hidden;
        padding: 25% 0px;
        line-height: 70px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        text-align: center;

        @media only screen and (max-width:769px) {
            padding: 17% 0px;
        }
    }

    .video-box .overlay-box span {
        position: relative;
        width: 70px;
        height: 70px;
        padding-top: 20px;
        z-index: 99;

        color: #e20000;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        border-radius: 50%;
        padding-left: 4px;
        background-color: #ffffff47;
        display: inline-block;
        transition: all 900ms ease;
        -moz-transition: all 900ms ease;
        -webkit-transition: all 900ms ease;
        -ms-transition: all 900ms ease;
        -o-transition: all 900ms ease;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    }

    .video-box .overlay-box .text {
        position: relative;
        color: #ffffff;
        line-height: 1.3em;
        margin-top: 35px;
        text-decoration: none;
    }

    .video-box .ripple,
    .video-box .ripple:before,
    .video-box .ripple:after {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 70px;
        width: 70px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        -webkit-animation: ripple 3s infinite;
        -moz-animation: ripple 3s infinite;
        -ms-animation: ripple 3s infinite;
        -o-animation: ripple 3s infinite;
        animation: ripple 3s infinite;
    }

    .video-box .ripple:before {
        -webkit-animation-delay: .9s;
        -moz-animation-delay: .9s;
        -ms-animation-delay: .9s;
        -o-animation-delay: .9s;
        animation-delay: .9s;
        content: "";
        position: absolute;
    }

    .video-box .ripple:after {
        -webkit-animation-delay: .6s;
        -moz-animation-delay: .6s;
        -ms-animation-delay: .6s;
        -o-animation-delay: .6s;
        animation-delay: .6s;
        content: "";
        position: absolute;
    }

    @-webkit-keyframes ripple {
        70% {
            box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }

    @keyframes ripple {
        70% {
            box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
        }

        100% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        }
    }

    .form {
        margin: 0rem 4rem;
        padding: 2rem 2rem;
        border: 2px solid @secondary-color-deep;

        @media only screen and (max-width:769px) {
            margin: 0;
        }

        .form-control:focus {
            box-shadow: none;
        }

        input,
        textarea,
        select {
            border: none;
            border-bottom: 2px solid @secondary-color-deep;
            border-radius: inherit;
            background: transparent;
        }

        input[type=checkbox] {
            border: none;
            border-bottom: 2px solid @secondary-color-deep;
            border-radius: 25px;
        }

        button {
            border: none;
            border-radius: 0;
        }
    }
}

// =============================video ripple end================================
//===============================section foooter start==========================

.footer {
    background-color: #eee9c6;
    padding-top: 3rem;
}

.footer img {
    max-width: 114px;
    margin-bottom: 1rem;
}

.footer h3 {
    color: #00885f !important;
    margin: 0;
    font-size: 18px;
    margin-bottom: 0.7rem;
}

.footer p {
    color: #000000;
    text-align: justify;
}

@media screen and (max-width: 480px) {
    .footer p {
        text-align: justify;
    }
}

.footer .footer-menu ul {
    margin-top: 1rem;
    list-style: none;
    padding: 0px;
    text-align: center;
    line-height: 35px;
}

.footer .footer-menu ul li a {
    color: black;
    text-decoration: none;
}

.footer a {
    color: #000000;
    text-decoration: none;
    font-family: sans-serif;
}

.footer .line-foo {
    margin: 1rem 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.footer .btn {
    color: white;
}

.footer .copy {
    padding-bottom: 2rem;
}

.footer .copy a {
    color: #000000;
    text-decoration: none;
}

.call-btn {
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 999;

    .what {
        padding-right: 2px;
    }

    i {
        font-size: 22px;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-family: sans-serif;
        position: relative;
        font-size: 18px;

        .la-whatsapp {
            font-size: 22px;
            margin-right: 1rem;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: -1rem;
                height: 100%;
                width: 200%;
                transform: skew(-20deg);
                background-color: @secondary-color-deep;
                z-index: -1;
                transition: all .3s;
            }

        }


        &:hover {
            .la-whatsapp {

                &::after {
                    background-color: #5c636a;
                }
            }

        }

    }
}












//===============================section footer end============================
//===============================section location map start============================
.location-gmap {
    padding-bottom: 0px;

    .iframe-map {
        height: 70vh;
        width: 100%;

        @media only screen and (max-width:480px) {
            height: 50vh;

        }
    }

}


//===============================section location map end============================
// ========================preloader start==========================



.no-scroll-y {
    overflow-y: hidden;
}

/* Preloader */
.ctn-preloader {


    align-items: center;

    cursor: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99900;
}

.ctn-preloader .animation-preloader {
    position: absolute;
    z-index: 99100;

}

/* Spinner cargando */
.ctn-preloader .animation-preloader .spinner {
    animation: spinner 10s infinite linear;
    border-radius: 50%;
    //   border: 3px solid rgba(255, 255, 255, 0.2);
    //   border-top-color: #ffffff; /* No se identa por orden alfabetico para que no lo sobre-escriba */
    height: 8em;
    margin: 0 auto 3.5em auto;
    width: 8em;
}

/* Texto cargando */
.ctn-preloader .animation-preloader .txt-loading {
    font: bold 1.3em 'Montserrat', sans-serif;
    text-align: center;
    user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
    animation: letters-loading 4s infinite;
    color: #ffffff;
    content: attr(data-text-preloader);
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
    color: rgba(255, 255, 255, 0.2);
    position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
    animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
    animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
    animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
    animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
    animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
    animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: calc(50% + 1px);
    background: rgb(8, 8, 8);
}

.ctn-preloader .loader-section.section-left {
    left: 0;
}

.ctn-preloader .loader-section.section-right {
    right: 0;
}

/* Efecto de fade en la animación de cargando */
.loaded .animation-preloader {
    opacity: 0;
    transition: 0.3s ease-out;
}

/* Efecto de cortina */
.loaded .loader-section.section-left {
    transform: translateX(-101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
    transform: translateX(101%);
    transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

/* Animación del preloader */
@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

/* Animación de las letras cargando del preloader */
@keyframes letters-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }

    25%,
    50% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

/* Tamaño de portatil hacia atras (portatil, tablet, celular) */
@media screen and (max-width: 767px) {

    /* Preloader */
    /* Spinner cargando */
    .ctn-preloader .animation-preloader .spinner {
        height: 3em;
        width: 3em;
    }

    /* Texto cargando */
    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 3.5em 'Montserrat', sans-serif;
    }
}

@media screen and (max-width: 500px) {

    /* Prelaoder */
    /* Spinner cargando */
    .ctn-preloader .animation-preloader .spinner {
        height: 3em;
        width: 3em;
    }

    /* Texto cargando */
    .ctn-preloader .animation-preloader .txt-loading {
        font: bold 2em 'Montserrat', sans-serif;
    }
}


.animation-preloader {

    img:nth-child(2) {
        position: absolute;
        top: 35%;
        left: 50%;
        height: 60px;
        width: 60px;
        transform: translate(-50%, -50%);
    }
}


// ========================preloader end==========================